* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  width: 93.75rem;
  height: 313.125rem;
}

/* === HEADER TOP === */

.header__top {
  position: relative;
  margin: 0 0 151px;
  padding: 24px 91px 157px 177px;
  background-color: #3b5d50;
  height: 42.125rem;
}

.header__logo {
  width: 86px;
  height: 39px;
  margin: 0 79px 134px 1px;
  font-size: 2rem;
  font-weight: 500;
  text-align: left;
  color: #fff;
}
.header__logo .text__style {
  color: rgba(255, 255, 255, 0.28);
}

.header__title {
  width: 419px;
  height: 130px;
  margin: 154px 255px 117px 0;
  font-size: 54px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.header__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  gap: 0.875rem;
}

.btn__primary {
  width: 150px;
  height: 50px;
  margin: 4px 14px 0 -930px;
  padding: 11px 35px 11px 36px;
  border-radius: 30px;
  background-color: transparent;
  border: solid 2px rgba(255, 255, 255, 0.29);
  color: #fff;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;
  white-space: nowrap;
}

.btn__primary:hover {
  background-color: #f9bf29;
  border-color: #f9bf29;
  color: #2f2f2f;
}

.btn__secondary {
  width: 132px;
  height: 50px;
  padding: 11px 35px 11px 36px;
  border-radius: 30px;
  border-radius: 30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 2px rgba(255, 255, 255, 0.29);
  color: #fff;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;
}

.btn__secondary:hover {
  background-color: #f9bf29;
  color: #2f2f2f;
  border-color: #f9bf29;
}

.navigation {
  position: absolute;
  top: 34px;
  right: 180px;
  width: 469px;
  height: 31px;
}

.header__nav {
  display: flex;
  list-style: none;
  gap: 2.75rem;
}

.header__nav a {
  position: relative;
  display: inline-block;
  width: auto;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.header__nav a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: #f9bf29;
}

.header__couch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 519.1px;
  margin: 180px 180px 126px 75px;
  object-fit: contain;
  width: 1410px;
  bottom: 517px;
  z-index: 1;
  pointer-events: none;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 176px;
  margin: 131px 0 94px 553px;
  object-fit: contain;
  width: 1765px;
  bottom: 1151px;
  right: 334px;
  z-index: 0;
}

/* === MAIN === */
.main__page {
  width: 1500px;
  height: 5010px;
  padding: 0 0 3px;
  background-color: #eff2f1;
  position: relative;
  bottom: 9.4375rem;
}

.main__title {
  display: flex;
  width: 205px;
  height: 123px;
  font-size: 34px;
  font-weight: 600;
  text-align: left;
  color: #2f2f2f;
  white-space: nowrap;

  position: relative;
  top: 165px;
  left: 175px;
}

.main__text {
  width: 228px;
  height: 108px;
  margin: 27px 31px 33px 2px;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  color: #6a6a6a;

  position: relative;
  left: 177px;
  top: 165px;
}

.btn__third {
  width: 122px;
  height: 50px;
  margin: 33px 139px 158px 0;
  padding: 11px 32px;
  border-radius: 30px;
  background-color: #2f2f2f;

  color: #fff;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;

  position: relative;
  left: 177px;
  top: 131px;
}

.btn__third:hover {
  background-color: #f9bf29;
  color: #2f2f2f;
  border-color: #f9bf29;
}

.main__chairs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 4.9375rem;
  margin-left: 521px;
  margin-top: -382px;
}

.ergonomic__chair {
  position: relative;
  object-fit: contain;
  bottom: 24px;
}

.chair__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  object-fit: contain;
}

.chair__name {
  width: 106px;
  height: 24px;
  margin: 0 0 1px;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #2f2f2f;
  position: relative;
  left: 41px;
  bottom: -48px;
  white-space: nowrap;
}

.chair__price {
  font-size: 20px;
  font-weight: 700;
  color: #2f2f2f;
  position: relative;
  left: 59px;
  top: 48px;
}

.chair__price-nordic {
  width: 65px;
  height: 24px;
  margin: 1px 20px 0 21px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #2f2f2f;
  left: 41px;
}

.chair__price-kruzo {
  width: 65px;
  height: 24px;
  margin: 1px 20px 0 21px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #2f2f2f;
  left: 64px;
  top: 45px;
}

.chair__price-ergonomic {
  width: 65px;
  height: 24px;
  margin: 1px 20px 0 21px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #2f2f2f;
  left: 32px;
  top: 48px;
}

/* WHY CHOOSE US */
.choose__wrapper {
  position: relative;
  left: 178px;
  bottom: -267px;
}
.choose__title {
  width: 205px;
  height: 123px;
  font-size: 34px;
  font-weight: 600;
  text-align: left;
  color: #2f2f2f;
  white-space: nowrap;
}

.choose__text {
  width: 228px;
  height: 108px;
  font-size: 14px;

  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #6a6a6a;
  white-space: nowrap;

  position: relative;
  left: 2px;
  bottom: 55px;
}

.choose__list {
  display: grid;
  grid-template-columns: repeat(2, 216px);
  gap: 42px 56px;
  position: relative;
  left: 179px;
  bottom: -212px;
}

.choose__card {
  display: flex;
  flex-direction: column;
}

.choose__icon {
  position: relative;
  width: 46px;
  height: 46px;
  margin-bottom: 14px;
}

.choose__icon-bg {
  width: 70%;
  height: 70%;
  display: block;
  position: absolute;
  top: 55%;
  left: 40%;
}

.choose__icon-img {
  position: absolute;
  top: 41%;
  left: 3%;
  width: 66%;
  height: 66%;
}

.choose__card-title {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 600;
  color: #2f2f2f;
}

.choose__card-text {
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  color: #6a6a6a;
}

.choose__yellow-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 176px;
  object-fit: contain;
  width: 1765px;
  bottom: 398px;
  left: -27px;
  z-index: 0;
}

.choose__photo-main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 601px;
  left: 775px;
  z-index: 1;
  width: 551px;
  height: 773.1px;
  object-fit: contain;
}

/* MODERN DESIGN */
.modern__container {
  display: flex;
  position: relative;
  left: 30px;
  bottom: 322px;
}
.modern__wrapper {
  position: relative;
  left: 178px;
  bottom: -267px;
}
.modern__title {
  width: 205px;
  height: 123px;
  font-size: 34px;
  font-weight: 600;
  text-align: left;
  color: #2f2f2f;
  white-space: nowrap;
}

.modern__text {
  width: 228px;
  height: 108px;
  font-size: 14px;

  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #6a6a6a;
  white-space: nowrap;

  position: relative;
  left: 2px;
  bottom: 55px;
}

.modern__list {
  display: grid;
  grid-template-columns: repeat(2, 216px);
  gap: 42px 56px;
  position: relative;
  left: 179px;
  bottom: -212px;
}

.modern__card {
  display: flex;
  flex-direction: column;
}

.modern__icon {
  position: relative;
  width: 46px;
  height: 46px;
  margin-bottom: 14px;
}

.modern__icon-bg {
  width: 70%;
  height: 70%;
  display: block;
  position: absolute;
  top: 55%;
  left: 40%;
}

.modern__icon-img {
  position: absolute;
  top: 41%;
  left: 3%;
  width: 66%;
  height: 66%;
}

.modern__card-title {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 600;
  color: #2f2f2f;
}

.modern__card-text {
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  color: #6a6a6a;
}

.modern__yellow-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 176px;
  object-fit: contain;
  width: 1765px;
  bottom: 398px;
  left: -27px;
  z-index: 0;
}

.modern__photo-main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 601px;
  left: 775px;
  z-index: 1;
  width: 551px;
  height: 773.1px;
  object-fit: contain;
}
